body {
	background-color: rgb(255, 255, 255);
	
}

#mums {
    animation: blink 4s infinite; 
    position: absolute;
  }

@keyframes blink {
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#mums_poem {
	position: absolute;
	top: 320px;
	opacity: 70%;
	left: 900px;
	font:100px;
    text-align: center;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
}


.monsieur-la-doulaise-regular {
	font-family: "Monsieur La Doulaise", serif;
	font-weight: 400;
	font-style: normal;
  }
  

  